<ion-content>
  <div class="logo">
    <img src="/assets/grab.png">
    <span>Merchant</span>
  </div>
  <div class="ion-padding">
    <ion-card>
      <ion-card-content>
        <img *ngIf="generated !=''" [src]="generated" />
      </ion-card-content>
    </ion-card>
    <div class="merchant-id">{{name}}</div>
  </div>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-button color="success" class="footer-btn" mode="ios" (click)="verify()" expand="full">Verify</ion-button>
  </ion-toolbar>
</ion-footer>